@import './base.scss';

.customering {
    @include width_height(1440px, 479px);
    margin: auto;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    position: relative;
    z-index: 0;

    .title_text {
        padding-top: 146.31px;
        padding-left: 276px;
    }
}

h4 {
    color: #3D4F9F;
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 31.06px;
}

.desti {
    width: 323px;
    color: #A4ABC8;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 189.292%;
    letter-spacing: 0.36px;
    margin-top: 14.03px;
}

%for_comm {
    @include width_height(423px, 175.366px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D8E3FE;
    background: #FFF;
    box-shadow: 0px 5px 50px 0px #F3F5FA;
}

.comment {
    @extend %for_comm;
    position: absolute;
    top: 109.23px;
    right: 276px;
}

.eum {
    width: 283px;
    color: #676F95;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.094%;
    letter-spacing: 0.42px;
}

.boy {
    position: absolute;
    top: 253.53px;
    right: 457px;
}
.back_line{
    position: absolute;
    z-index: 1;
    bottom: 109.23px;
    right: 404px;
    cursor: pointer;
}